.App {
  text-align: center;
}
/* *{

  background-color: #7e92b7;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .for_ligjt_theme{
  --primary-color: #302ae6;
  --secondary-color:#536390;
  --font-color:#424242;
  --bg-color:#fff;
  --heading-color:#292922;
}
.for_dark_light{
  --primary-color: #9a97f3;
  --secondary-color:#818cab;
  --font-color:#e1e1ff;
  --bg-color:#161625;
  --heading-color:#818cab; 
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--body_background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--body_color);
}

.App-link {
  color: var(--link_color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
